/* CSS GENERAL */


* {
    
    max-width: 1400px;
    font-family: 'Raleway';
    box-sizing : border-box;
    margin: 0;
    padding: 0;
    color:#000000;
    text-decoration: none;
    font-style: normal;
}

.taille_22 { 
                font-weight: 700;
                font-size: 22px;
                line-height: 26px; 
        }

.taille_16 {  
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
        }

.taille_18 { 
    
                font-weight: 700;
                font-size: 18px;
                line-height: 21px;
        }

.taille_17 {

              font-weight: 700;
              font-size: 17px;
              line-height: 20px;
        }

.taille_16_h3 {

                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
        }

.taille_14   {

                font-weight: 400;
                font-size: 14px;
                line-height: 16px;

        }

.icon_color {

                color: #0065FC;
        }

.icon_color_grey {
                   color: #F2F2F2;
            
                }

.proprietes_communes_bouton { /* propriétés s'appliquant aux deux boutons du formulaire 
                                (celui qui sera visible en version desktop et tablette, et celui qui sera visible en version mobile) */ 

                            border: 1px solid #0065FC;
                            background: #0065FC;
                            border-radius: 0px 15px 15px 0px;
                            
                        }



/* CSS HEADER */

.en_tete {
            display: flex; /* mise en place du conteneur .en_tete pour gérer certaines propriétés du header */
            flex-direction: row; 
            justify-content: space-between; /* espace entre le logo et les liens #offers et #activity */
            margin: 44px 77px 0px 55px;
        }


.logo { 
        width: 61.10px;
        height: 19px;
    }

.en_tete a {  
        
            font-weight: 400; 
            font-size: 16px;
            line-height: 19px;

       }

.en_tete ._offers { 
                    margin-right: 67px; /* marge externe à droite du lien #offers de 67px */
 
                }

                
              
.en_tete div { 
                    padding-top: 4px; /* ce padding additionné au margin-top de .en_tete (soit 4px+44px), 
                                      place les liens contenus dans la div à 48px du haut de la page */
        
            }              


.en_tete div a:hover {  
                        border-top: #0065FC solid 2px;
                        color: #0065FC;
                        padding-top: 46px;/* la marge interne entre le border-top et les liens #offers et #activity sera de 46px ,
                                            pour que le border-top au dessus des liens soit bien tout en haut (lors du survol de la souris) */
                        font-weight: 500; /* la graisse des liens passe à 500 au survol de la souris */
                    }
                    
   /* CSS SECTION 1 */
               
                
.marge_titre_principal { 
        
                        margin: 63px 0px 0px 55px; /* les marges externes s'appliqueront au premier h1 */


                    }

.marge_premier_paragraphe {
                            margin: 8px 0px 0px 55px;

                        }

/* FORMULAIRE CSS */

.formulaire     { 
                        display: flex; /* l'ensemble du contenu .formulaire est aligné horizontalement */
                        flex-direction: row;
                        margin: 20px 0px 0px 55px;
                        height: 49px;
    
     
}
.label_position, .champ_formulaire {

                                        border: 1px solid #F2F2F2;
                                }

.label_position {   
                    
                    background: #F2F2F2;;
                    border-radius: 15px 0px 0px 15px;
    
            }

.label_position .icon_size {
                                    width: 50px; /* la largeur du label sera de 50px */
                                    font-size: 18px;
                                    padding: 16px 18px 15px; /* les marges internes pour le positionnement de l'icône dans le label sont définis */
    
                        }



.champ_formulaire { 
                    width: 236px;
                    padding: 14px 71px 14px 16px; /* les marges interne pour le positionnement du string "Marseille, France" sont définis */
                    background-color: #FFFFFF;
                    border-right: none; /*les bordures à droite et à gauche sont supprimées pour que le .champ_formulaire 
                                        puisse correspondre au visuel de ma maquette */
                    border-left: none;
   
             }
  

.bouton_rechercher {   
                        width: 132px;
                        padding: 14px 16px;
                        color: #FFFFFF;
                        border-bottom: none; /* les bordures en haut et en bas sont supprimées pour que le .bouton_rechercher
                                                puisse correspondre au visuel de la maquette */
                        border-top: none;
                }


.bouton_mobile {

                    display: none; /* ce bouton de recherche ne sera visible qu'en version mobile */

            }

