/* CSS GENERAL */

* {     
    font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
    box-sizing : border-box;
    margin: 0;
    padding: 0;
    color:#000000;
    text-decoration: none;
    font-style: normal;
}

body {  
     max-width: 1400px;
     margin-left: auto;
     margin-right: auto;
     padding: 0 50px;
}

.typography-style-with-22 { 
    font-weight: 700;
    font-size: 1.375em;
    line-height: 26px; 
}

.typography-style-with-16 {  
    font-weight: 400;
    font-size: 1em;
    line-height: 19px;
}

.typography-style-with-18 { 
    font-weight: 700;
    font-size: 1.125em;
    line-height: 21px;
}

.typography-style-with-17 {
    font-weight: 700;
    font-size: 1.0625em;
}

.typography-style-h3-with-16 {
    font-weight: 700;
    font-size: 1em;
    line-height: 19px;
}

.typography-style-with-14   {
    font-weight: 400;
    font-size: 0.875em;
    line-height: 16px;
}

.icon-color-blue {
    color: #0065FC;
}

.icon-star-color-grey {
    color: #F2F2F2;
}

p span {
    font-weight: bold;
}

/* CSS HEADER */

header {
    display: flex; 
    flex-direction: row;
    justify-content: space-between; /* espace entre le logo et les liens #offers et #activity */
}

nav a {
    padding: 50px 30px 0;
    display: inline-block; /* les liens sont maintenanat inline-block, ce qui permet au padding-top de s'appliquer */
    border-top: transparent solid 2px;
}
 
.logo { 
    margin: 45px 0 0 5px;
    width: 61px;
    height: 19px;
}

nav a:hover {  
    border-top: #0065FC solid 2px;
    color: #0065FC;
    font-weight: 500; /* la graisse des liens passe à 500 au survol de la souris */
        }
                    
/* CSS SECTION 1 */
               
                
.position-first-h1 { 
    margin: 60px 0 0 5px; /* les marges externes s'appliqueront au premier h1 */
}

.position-first-p {
    margin: 10px 0 0 5px;
}

/* FORMULAIRE CSS */

.formulary     { 
    display: flex; /* l'ensemble du contenu .formulary est aligné horizontalement */
    flex-direction: row;
    padding: 20px 0 0 5px;
    min-height: 49px;
}

.label-properties, .textbox-form {
    border: 1px solid #F2F2F2;
}

.label-properties {   
    background: #F2F2F2;;
    border-radius: 15px 0 0 15px;
    font-size: 1.125em; /* la taille de l'icône "fa-solid fa-location-dot" à l'intérieur du label est fixé à 18px */
    padding: 14px 18px 14px; /* les marges internes pour le positionnement de l'icône dans le label sont définis */
}

.textbox-form { 
    min-width: 240px;
    padding: 11px 11px 11px 14px; /* les marges interne pour le positionnement du string "Marseille, France" sont définis */
    background-color: #FFFFFF;
    border-right: none; /*les bordures à droite et à gauche sont supprimées pour que le .champ_formulaire 
                                        puisse correspondre au visuel de ma maquette */
    border-left: none;
}

.button-properties {     /* propriétés s'appliquant aux deux boutons du formulaire 
                          (celui qui sera visible en version desktop et tablette, et celui qui sera visible en version mobile) */ 
    border: 1px solid #0065FC;
    background: #0065FC;
    border-radius: 0px 15px 15px 0px;
}
  
.button-search {        
    padding: 14px 16px;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    border-bottom: none; /* les bordures en haut et en bas sont supprimées pour que le .bouton_rechercher
                                                puisse correspondre au visuel de la maquette */
    border-top: none;
}

button:hover { 
    cursor: pointer;
}

button .button-mobile {
    display: none; /* ce bouton de recherche ne sera visible qu'en version mobile */

}

/* FILTRES CSS */

.flex-filters {
    display: flex;
    flex-direction: row;
    padding: 45px 0px 0px 12px;
}

.flex-border-filters {
    display: flex;
    flex-direction: row;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    margin-top: -15px; /* la marge externe du haut au dessus du border top des .flex_border_filtres est maintenant de 30px,
                                            (45px-15px=30px) pour correspondre au visuel de la maquette */
    margin-left: 40px; /* la marge entre chaque .flex-border-filters sera de 40px */
}



.icons-in-filters {         
    font-size: 1.375em;
    padding: 12px 0 12px 18px;  /* les marges internes sont appliquées autour de l'icône 
                                                        à l'intérieur du .flex-border-filters */
}



.filter-category-space {    
    padding: 12px 18px 12px 10px; /* les marges internes sont appliquées autour des catégories string 
                                      à l'intérieur des .flex-border-filters */
}

.filter-category-family-space {
    padding-left: 14px; /* la marge interne à gauche du string "Familial" est augmenté à 14px 
                                             pour correspondre au visuel de la maquette */
}


.icon-person-in-filter {
    padding-left: 22px; /* la marge interne à gauche de l'icône "fa-solid fa-person" est augmenté à 22px 
                                           pour correspondre au visuel de la maquette */
}

.flex-filters .filters-string-space {      
    margin-right: -10px;/*la marge externe se fait entre le string "Filtres" et le border-radius 
                                                             situé à gauche de l'icône "fa-solid fa-money-bill-wave" */
}

.flex-border-filters:hover {
    cursor: pointer;
    background-color: #DEEBFF;
}               


/* CSS INFO */

.flex-info { 
    display: flex;
    flex-direction: row;
    padding: 40px 0px 0px 10px;
}

.circle-info {   
                /*création du cercle qui entoure l'icône "fa-solid fa-info" */
    border: 1px solid #D9D9D9; 
    border-radius: 25px;
    width: 24px;
    height: 24px;
    margin-right: 10px; /* une marge externe entre l'icône "fa-solid fa-info" et le paragraphe est fixé à 10px 
                                       pour correspondre au visuel de la maquette */
    margin-top: -5px; /* le cercle contenant l'icône "fa-solid fa-info" sera placé à 35px (40px-5px) en dessous des .flex_border_filtres */
                
    font-size: 0.625em;   /* la taille de l'icône "fa-solid fa-info" est fixé à 10px */
    padding: 6px 9px;   /* mise en place des marges internes autour de l'icône "fa-solid fa-info" dans le cercle */
                
}

        /* CSS Section offers popular */

/* CSS offers popular general */

.offer-popular-section {  /* les deux parties de la section .offer-popular-section sont placées à côté pour correspondre à la maquette */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0 60px 0;
                       
                   }

.offers, .popular {   /* la hauteur et le fond de .offers et .popular sont définis */
    background-color: #F2F2F2;
    height: 625px;
    border-radius: 20px;
    padding: 35px;
}
        
.offers {
    width: 65.5%;
}

.popular {   
    width: 31.5%;
}

/* mise en place des propriétés générales de .card */
.card { 
    box-shadow: 0 4px 8px 0 #D9D9D9;
    border-radius: 20px;
    background-color: #FFFFFF;
    display: block;
}  

.card img {
    border: 5px solid #FFFFFF;
    object-fit: cover;
    flex-shrink: 0;
}

.card h3, p+i { 
    padding-left: 15px; 
}

.card p { 
    padding: 5px 0 3px 15px; 
}

.card i { 
    font-size: 0.8em; 
}


/* CSS offers details */

.first-line-offers-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 23px 0 30px 0;
}

.second-line-offers-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 40px;
}

.offers .card { 
    width: 30.5%;
    min-height: 199px; 
}

.offers-card-img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;
}

/* CSS popular details */

.title-popular-with-icon { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-popular-with-icon i {
    font-size: 1.125em;
    margin-top: 5px;
}

.flex-popular-card {
    display: flex;
    flex-direction: row;
}

.flex-with-string-and-icon-stars { /* ce conteneur contient le string et les stars des card de .popular */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

.popular .card {   
    width: 100%;
    height: 144px;
    margin-top: 30px;
                  }


.popular-card-img {
    width: 40.5%;
    height: 144px;
    border-right: none;
    border-radius: 20px 0px 0px 20px;
}

.card .space-string-in-card-popular { 
    padding-top: 15px;
    padding-right: 20px;
}

.space-string-in-card-popular .first-star-position { 
    padding-left: 15px;
}
                                
.space-string-in-card-popular i { 
    padding-bottom: 10px;
}
            
/* CSS activity */

.flex-activity-section { 
    display: flex;
    justify-content: space-between;
    padding: 20px 0 60px 0;
}

.flex-activity-section .card {
    width: 22.5%;
    height: 445px;
}

.card .activity-card-img {
    width: 100%;
    height: 390px;
    border-radius: 20px 20px 0 0;
    border: none;
}

.activity-card-h3 {
    padding-top: 15px;
}

/* CSS FOOTER */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding: 45px 320px 50px 70px;
}
        
footer li { 
    list-style-type: none; 
    padding-top: 10px;
}
        
footer p {
    padding-bottom: 10px;
} 

/*** Responsive on desktop ***/

@media screen and (max-width: 1200px) { 
        
 body { 
     padding: 0 35px;
}                
 .flex-border-filters { 
     margin-left: 30px; 
 }
 .offers { 
     width: 63.5%; 
     padding-left: 25px;
     padding-right: 25px;
 }
 .offers .card { 
     width: 31%; 
 }
 .popular { 
     width: 35.5%; 
 }
 .popular .card h3, .popular .card p, .card .first-star-position {  
     padding-left: 5px; 
 } 
 .card .space-string-in-card-popular { 
     padding-right: 15px;
 }
}

@media screen and (max-width: 1100px) {
   
 body { 
     padding: 0 30px;
 } 
 .offers { 
     width: 62.5%;
     padding-left: 15px;
     padding-right: 15px;
 }
 .offers .card { 
     width: 32%; 
 }
 .offers .card h3, .offers .card p, .offers .card p+i {  
     padding-left: 5px; 
 } 
 .popular { 
     width: 36.5%;
 }
 .card .space-string-in-card-popular { 
     padding-right: 5px;
 }
 .card .activity-card-h3 { 
     padding-top: 10px; 
}
 footer { 
     padding-right: 280px; 
 }
}

/*** Responsive on tablet ***/                   
                        
@media screen and (max-width: 991px) { 

 body { 
     padding: 0 40px;
 }
        /* filters */
 
 .flex-border-filters { 
     margin-left: 25px;
} 
 .flex-filters {
     flex-wrap: wrap;  /* le filtre .space-with-animal-filter-responsive-tablet passera à la ligne lorsque la largeur de l'écran sera trop petite */
 }
 .flex-filters > div { 
     margin-bottom: 20px;
 }
 .flex-filters .space-with-animal-filter-responsive-tablet { 
     margin-bottom: -10px;
 }
 
        /* offers and popular section */

 .offer-popular-section {      
     flex-direction: column;  /* .popular se replace en colonne en dessous de .offers*/
     justify-content: space-between;
     padding: 40px 0 60px 0;
 }    
 .offer-popular-section { 
     padding-bottom: 70px;
 }
 .offers, .popular { 
     padding: 40px;
 }

        /* offers details */

 .offers { 
     width: auto;
 }
 .offers .card { 
     width: 30%;
 }
 .offers .card h3, .offers .card p, .offers .card p+i {  
     padding-left: 10px; 
 } 
        
        /* popular details */
 .flex-popular-responsive-tablet {       
     display: flex; /* les .card dans .popular ne sont plus sur une colonne mais sur une rangée */
     flex-direction: row;
     justify-content: space-between;
 }
 .popular {   
     width: 100%;
     height: 270px;
     margin-top: 50px;
 }
 .popular .card {   
     width: 30.5%;
     height: 144px;
     margin-top: 20px;
 }
 .popular-card-img { 
     width: 42%; 
 }
 .popular .card p {  
     font-size: 0.813em;
     font-weight: 400;
     line-height: 15px;
     padding-bottom: 0;
 } 
 .card .space-string-in-card-popular { 
     padding-right: 10px;
     padding-top: 10px;
 }
 .space-string-in-card-popular i, .first-star-position { 
     padding-bottom: 5px;
 }
         /* activity section */

 .flex-activity-section { 
     padding: 30px 0 70px 0;
 }
 .flex-activity-section .card {
     width: 21.5%;
     height: 270px;
 }
 .card .activity-card-img {
     height: 211px;
 }
 .card .h3-in-first-and-second-activity-card-responsive-tablet { 
     padding-top: 13px; padding-left: 20px; 
 }
 .card .h3-in-third-and-last-activity-card-responsive-tablet { 
     padding-top: 5px;  padding-left: 15px;
 }
 .card .h3-in-last-activity-card-responsive-tablet { 
     padding-right: 30px;
 }

        /* footer */

 footer { 
     padding: 45px 140px 50px 50px;
 }
        
}

